<!doctype html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="jquery/dist/jquery.min.js"></script>
  
  <link rel="stylesheet" href="css/gra.css">
</head>
<body>
<br/><br/>
  <div id="tekst" style="text-align:center;"><h1>Aby zagrać musisz się zalogować:</h1>
  <div id="nick">
    <div>
      <label>Użytkownik:</label><br/>
      <form action="/login" method="post">
        nazwa:<input type="text" name="username">
        hasło:<input type="password" name="password"><br/>
        <input type="submit" value="Zaloguj">
      </form>
    </div>
    <label>Jeśli nie masz konta zarejestruj się:</label>
    <form action="/rejestracja" method="get">
      <input id="rejestracja" type="submit" value="Rejestracja">
  </form>
  </div>
  </div>
  </body>
  </html>